* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1500px;
  min-width: 200px;
  margin: 0 auto;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.main {
  min-height: 100vh;
  position: relative;
}

.main__title {
  position: absolute;
  top: 40%;
  left: 50%;
  height: 98px;
  overflow: hidden;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  font-size: 50px;
  font-weight: "bold italic";
  text-align: center;
  width: 100%;
  z-index: 1;
  color: black;
}

.main__title--span {
  font-size: 22px;
  margin-top: 10px;
  display: block;
  font-weight: normal;
}

.main__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
}

.main__image__photo {
  width: 100%;
  height: 100%;
}

.main__button {
  z-index: 1;
  position: absolute;
  top: calc(40% + 98px);
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  height: 50px;
  width: 120px;
  padding: 5px 20px;
  border: 2px solid black;
  text-transform: uppercase;
  background-color: #fff;
  font-weight: bold;
  margin: 10px auto;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 12px;
  cursor: pointer;
}

.main__button:hover {
  background-color: #141414;
  color: white;
}

.main--active {
  display: none;
}

.game {
  display: none;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.game__title {
  text-transform: uppercase;
  padding-top: 20px;
  margin: 0px auto 10px auto;
  text-align: center;
  width: 90%;
  font-size: 20px;
}

.game__background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
}

.game__background-image__backgound-image__photo {
  height: 100%;
  width: 100%;
}

.game__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
  height: 300px;
  margin: 0px auto;
  overflow: hidden;
}

.game__image-wrapper .game__image {
  height: 33.33%;
  padding: 1px;
}

.game__image-wrapper .game__image__photo {
  height: 100%;
  width: 100%;
}

.game__image-wrapper .game__image--active {
  border: 4px solid yellow;
}

.game__actual-score {
  margin-top: 5px;
  text-align: center;
  overflow: hidden;
}

.game__actual-score__title {
  font-size: 20px;
  font-weight: bold;
}

.game__actual-score__user, .game__actual-score__pc {
  font-size: 18px;
}

.game__actual-score__winner {
  font-size: 18px;
  font-weight: bold;
}

.game__actual-score__winner--active {
  color: green;
}

.game__final-score {
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
}

.game__final-score__title {
  font-size: 24px;
  font-weight: bold;
}

.game__final-score__results {
  font-size: 16px;
}

.game--active {
  display: block;
}

@media (min-width: 360px) {
  .game__actual-score {
    margin-top: 50px;
  }
  .game__final-score {
    margin-top: 50px;
  }
}

@media (min-width: 411px) {
  .game__actual-score {
    margin-top: 80px;
  }
  .game__final-score {
    margin-top: 80px;
  }
}

@media (min-width: 568px) {
  .game__image-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    height: 150px;
  }
  .game__image-wrapper .game__image {
    height: 100%;
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
  .game__actual-score {
    position: absolute;
    bottom: 10px;
    left: 5px;
  }
  .game__final-score {
    position: absolute;
    bottom: 0;
    right: 30px;
  }
}

@media (min-width: 640px) {
  .game__actual-score {
    bottom: 30px;
  }
  .game__final-score {
    bottom: 20px;
  }
}

@media (min-width: 736px) {
  .game__actual-score {
    bottom: 50px;
  }
  .game__final-score {
    bottom: 40px;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .main__title {
    height: 200px;
    font-size: 70px;
  }
  .main__title--span {
    font-size: 40px;
    margin-top: 30px;
  }
  .main__button {
    top: calc(40% + 200px);
    height: 80px;
    width: 200px;
    font-size: 25px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .game__title {
    padding-top: 50px;
    font-size: 40px;
    margin: 0px auto 30px auto;
  }
  .game__image-wrapper {
    width: 90%;
    height: 250px;
  }
  .game__image-wrapper .game__image {
    padding: 5px;
  }
  .game__actual-score {
    position: relative;
    left: 0;
    margin-top: 120px;
  }
  .game__actual-score__title {
    font-size: 35px;
  }
  .game__actual-score__user, .game__actual-score__pc {
    font-size: 28px;
  }
  .game__actual-score__winner {
    font-size: 30px;
  }
  .game__final-score {
    position: relative;
    right: 0;
    margin-top: 30px;
  }
  .game__final-score__title {
    font-size: 35px;
  }
  .game__final-score__results {
    font-size: 28px;
  }
}

@media (min-width: 812px) {
  .main__button {
    top: calc(40% + 140px);
    height: 110px;
    width: 250px;
    font-size: 32px;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .game__image-wrapper {
    height: 400px;
  }
  .game__actual-score__title {
    font-size: 55px;
  }
  .game__actual-score__user, .game__actual-score__pc {
    font-size: 48px;
  }
  .game__actual-score__winner {
    font-size: 50px;
  }
  .game__final-score {
    position: relative;
    right: 0;
    margin-top: 30px;
  }
  .game__final-score__title {
    font-size: 55px;
  }
  .game__final-score__results {
    font-size: 45px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .game__title {
    padding-top: 50px;
    font-size: 40px;
    margin: 0px auto 30px auto;
  }
  .game__image-wrapper {
    height: 300px;
    width: 90%;
  }
  .game__actual-score {
    bottom: 70px;
  }
  .game__actual-score__title {
    font-size: 40px;
  }
  .game__actual-score__user, .game__actual-score__pc {
    font-size: 32px;
  }
  .game__actual-score__winner {
    font-size: 38px;
  }
  .game__final-score__title {
    font-size: 40px;
  }
  .game__final-score__results {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .main__title {
    height: 250px;
    font-size: 90px;
  }
  .main__title--span {
    font-size: 60px;
    margin-top: 40px;
  }
  .main__button {
    top: calc(40% + 250px);
    height: 110px;
    width: 250px;
    font-size: 32px;
  }
}

@media (min-width: 1366px) {
  .game__title {
    font-size: 50px;
  }
  .game__image-wrapper .game__image {
    padding: 10px;
  }
  .game__actual-score__title {
    font-size: 40px;
  }
  .game__actual-score__user, .game__actual-score__pc {
    font-size: 32px;
  }
  .game__actual-score__winner {
    font-size: 38px;
  }
  .game__final-score__title {
    font-size: 40px;
  }
  .game__final-score__results {
    font-size: 32px;
  }
}
/*# sourceMappingURL=style.css.map */