@media (min-width: 360px)
    .game
        &__start
            margin-top: 10px
            height: 30px

        &__actual-score
            margin-top: 20px
        &__final-score
            margin-top: 20px

@media (min-width: 411px)
    .game
        &__start
            margin-top: 20px
            height: 40px
        &__actual-score
            margin-top: 30px
        &__final-score
            margin-top: 50px


@media (min-width: 568px)
    .game
        &__start
            margin-top: 10px
            height: 20px
        &__image-wrapper
            flex-direction: row
            width: 80%
            height: 150px
            .game__image
                height: 100%
                flex-basis: 33.33%
        &__actual-score
            position: absolute
            bottom: 10px
            left: 5px
        &__final-score
            position: absolute
            bottom: 0
            right: 30px

@media (min-width: 640px)
    .game
        &__start
            margin-top: 10px
            height: 40px
        &__actual-score  
            bottom: 30px
        &__final-score
            bottom: 20px

@media (min-width: 736px)
    .game
        &__actual-score  
            bottom: 50px
        &__final-score
            bottom: 40px

@media (min-width: 768px) and (orientation: landscape)
    .main
        &__title
            height: 200px
            font-size: 70px
            &--span
                font-size: 40px
                margin-top: 30px
        &__button
            top: calc(40% + 200px)
            height: 80px
            width: 200px
            font-size: 25px

@media (min-width: 768px) and (orientation: portrait)
    .game
        &__start
            margin-top: 20px
            height: 50px
            width: 200px
            font-size: 20px
        &__title
            padding-top: 50px
            font-size: 40px
            margin: 0px auto 30px auto
        &__image-wrapper
            width: 90%
            height: 250px
            .game__image
                padding: 5px
        &__actual-score
            position: relative
            left: 0
            margin-top: 120px
            &__title
                font-size: 35px
            &__user,&__pc
                font-size: 28px
            &__winner
                font-size: 30px
                
        &__final-score
            position: relative
            right: 0
            margin-top: 30px
            &__title
                font-size: 35px
            &__results
                font-size: 28px
@media (min-width: 812px)
    .main
        &__button
            top: calc(40% + 140px)
            height: 110px
            width: 250px
            font-size: 32px
            
@media (min-width: 1024px) and (orientation: portrait)
    .game
        &__start
            margin-top: 20px
            height: 50px
            width: 300px
            font-size: 30px
        &__image-wrapper
            height: 400px
        &__actual-score
            &__title
                font-size: 55px
            &__user,&__pc
                font-size: 48px
            &__winner
                font-size: 50px
                
        &__final-score
            position: relative
            right: 0
            margin-top: 30px
            &__title
                font-size: 55px
            &__results
                font-size: 45px

@media (min-width: 1024px) and (orientation: landscape)
    .game
        &__start
            margin-top: 20px
            height: 50px
            width: 200px
            font-size: 20px
        &__title
            padding-top: 50px
            font-size: 40px
            margin: 0px auto 30px auto
        &__image-wrapper
            height: 300px
            width: 90%
        &__actual-score
            bottom: 70px
            &__title
                font-size: 40px
            &__user,&__pc
                font-size: 32px
            &__winner
                font-size: 38px
                
        &__final-score
            &__title
                font-size: 40px
            &__results
                font-size: 32px


@media (min-width: 1024px)
    .main
        &__title
            height: 250px
            font-size: 90px
            &--span
                font-size: 60px
                margin-top: 40px
        &__button
            top: calc(40% + 250px)
            height: 110px
            width: 250px
            font-size: 32px


@media (min-width: 1366px)
    .game
        &__start
            margin-top: 20px
            height: 80px
            width: 300px
            font-size: 40px
        &__title
            font-size: 50px
        &__image-wrapper
            .game__image
                padding: 10px
        &__actual-score
            &__title
                font-size: 40px
            &__user,&__pc
                font-size: 32px
            &__winner
                font-size: 38px
                
        &__final-score
            &__title
                font-size: 40px
            &__results
                font-size: 32px