*
    margin: 0
    padding: 0
    box-sizing: border-box


.wrapper
        max-width: 1500px
        min-width: 200px
        margin: 0 auto
        min-height: 100vh
        font-family: 'Montserrat', sans-serif
        overflow: hidden


@import "_main"
@import "_game"
@import "_media"